$blue: #3586ff;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
  background: #333;
}
footer{
  position: relative;
  width: 100%;
  background: $blue;
  height: 350px;
  padding: 20px 50px;
  display: grid;
  place-items: center;
  h2{
    font-size: 40px;
    text-transform: lowercase;
    font-family: Arial, sans-serif;
    color: white;
  }
}
.waves{
  width: 100%;
  height: 100%;
}
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../img/wave.png);
  background-size: 1000px 100px;
  &.one{
    z-index: 1000;
    opacity: 1;
    animation: animateWave 4s linear infinite;
  }
  &.two{
    z-index: 999;
    opacity: .5;
    animation: animateWave_2 5s linear infinite ;
  }
  &.three{
    z-index: 1000;
    opacity: .2;
    animation: animateWave 3s linear infinite;
  }
  &.four{
    z-index: 999;
    opacity: .7;
    animation: animateWave_2 2s linear infinite ;
  }
}

@keyframes animateWave {
  0%{
    background-position-x: 1000px;
  }
  100%{
    background-position-x: 0;
  }
}
@keyframes animateWave_2 {
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 1000px;
  }
}
